<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma De IOT (Mongo DB)</title>
    <!--BOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">Plataforma De IOT (MongoDB)</a>
    </nav>

    <div class="container">
        <div class="row">

            <div class="container">
                <div class="row">

                    <!--FORMULARIO-->
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/Actualizar/<%= Datos._id %>" method="POST">
                            <div class="form-group">
                                <input type="text" name="temperatura" placeholder="Temperatura" class="form-control" value="<%= Datos.temperatura %>">
                            </div>
    
                            <div class="form-group">
                                <input type="text" name="humedad" placeholder="Humedad" class="form-control" value="<%= Datos.humedad %>">
                            </div>
    
                            <div class="form-group">
                                <input type="date" name="fecha" placeholder="Fecha" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <textarea name="descripcion"  cols="80" class="form-control" placeholder="Descripcion"> <%= Datos.descripcion %></textarea>
                            </div>
    
                            <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                        </form>
                    </div>
                </div>
    
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>